{% trans_default_domain 'cocorico_swift_reader' %}
<footer class="footer">
    <div class="container text-center">
        <a href="https://github.com/Cocolabs-SAS/cocorico">
            <img alt="Cocorico" src="https://avatars1.githubusercontent.com/u/17436791?v=3&s=60">
        </a>
    </div>
</footer>